
.timer-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  height: 250px;
}

.timer-block__value {
  border: 2px #000 solid;
  font-size: 100px;
  width: 200px;
  text-align: center;
}

.timer-button {
  display: flex;
  justify-content: center;
}

.timer-button button {
  width: 100px;
  height: 50px;
}

.timer-button__reset-time {
  margin-left: 10px;
}